.issue {
  border-radius: 4px;
  user-select: none;
  display: flex;
  justify-content: space-between;
  align-content: center;
  padding: 16px;
  transition: all 0.15s ease-in-out;
  line-height: 24px;
  &:hover, &:active {
    background-color: gainsboro;
  }
}

.title {
  display: inline-flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding-right: 16px;
  inline-size: available;
  overflow-wrap: break-word;
  width: stretch;
  word-break: break-word;
  small {
    font-size: 12px;
    color: dimgray;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    line-clamp: 3;
    -webkit-box-orient: vertical;
  }
}

.owner {
  text-align: right;
  color: darkgray;
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  white-space: nowrap;
  img {
    margin-left: 16px;
    width: 48px;
    height: 48px;
    border-radius: 4px;
  }
}